@import "../createArticle/createArticle.scss";
$black-trans-bg: rgba(0, 0, 0, .6);
$box-shadow-color: 0 6px 20px 1px rgba(0, 0, 0, .15);
$yellow: #e2d754;
$button-shadow: rgba(111, 102, 3, .5);
$hover-button-shadow: rgba(111, 102, 3, .8);
$hover-button-shadow-1: 0 12px 60px;
$hover-color: rgb(46, 39, 53);
$hover-background: rgb(172, 163, 64);
$box-shadow: 0 12px 60px;
$yellow-button-color: #51455c;

.errorMsg {
  border: 2px solid black;
  position: fixed;
  top: 4rem;
  right: 2rem;
}

.link-edit {
  border: 1px solid black;
  display: block;
  padding: .5rem 1rem;

  background: $yellow;
  border: 0;
  box-shadow: $box-shadow $button-shadow;
  color: $yellow-button-color;
  font-size: 1.23em;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  transition: ease-in-out .4s;

  &:hover {
    background: $hover-background;
    box-shadow: $hover-button-shadow-1 $hover-button-shadow;
    color: $hover-color;
    text-decoration: none;
  }
}