.outline {
  box-shadow: 0 6px 20px 1px rgba(0, 0, 0, 0.15);
  height: 12%;
  margin: 1%;
  width: 12%;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.body{
  color: #8932b4;
  margin: 3%;
}

.footer{
  display: inline-block;
  font-size: 80%;
  height: 12%;
  width: 12%;
}
