$loader-bg: rgba(0, 0, 0, .8);

.loader {
  display: flex;
  position: fixed;
  align-items: center;
  background: $loader-bg;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 99;
}

.loader > img {
  height: 7rem;
  width: 7rem;
}