$faded-black: rgba(0, 0, 0, .8);

.loader {
  align-items: center;
  background: $faded-black;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 99;

  img {
    height: 7rem;
    width: 7rem;
  }
}
