// $font-stack:    Helvetica, sans-serif;
$font-family: 'Merriweather', serif;
$font-family-header: 'Merriweather', serif;
$font-family-body: 'Lato', sans-serif;


// colors
$primary-color: #999;
$yellow: #e2d754;
$primary-color: #999;
$text-color: #6f42c1;
$primary-color: #999;
$deep-purple: hsl(279, 68%, 19%);
$deep-purple-grad: rgba(60, 16, 83, .9);
$light-blue: #0575e6;
$light-purple-grad: rgba(173, 83, 137, .9);
$aaa-border: #aaa;
$ddd-border: #ddd;
$black-trans-bg: rgba(0, 0, 0, .6);
$color-ccc: #ccc;
$white: #fff;
$primary-color: #999;
$box-shadow-color: 0 6px 20px 1px rgba(0, 0, 0, .15);
$white-color: #fff;
$yellow: #e2d754;
$input-field-width: 80%;
$deep-purple-grad: rgba(60, 16, 83, .9);
$light-purple-grad: rgba(173, 83, 137, .9);
$white: #fff;
$button-shadow: rgba(111, 102, 3, .5);
$hover-button-shadow: rgba(111, 102, 3, .8);
$hover-button-shadow-1: 0 12px 60px;
$hover-color: rgb(46, 39, 53);
$hover-background: rgb(172, 163, 64);
$box-shadow: 0 12px 60px;
$yellow-button-color: #51455c;
$purple-nav: #8932b4;

// input sizes
$input-field-width: 80%;


