// fonts
// $font-stack:    Helvetica, sans-serif;
$font-family: 'Merriweather', serif;


// colors
$primary-color: #999;
$yellow: #e2d754;
$primary-color: #999;
$text-color: #6f42c1;

// input sizes
$input-field-width: 80%;


