@import '../../assets/default';
$button-yellow: #e2d754;
$button-yellow-hover: rgb(172, 163, 64);
$button-shadow: rgba(111, 102, 3, 0.5);
$button-shadow-hover: rgba(111, 102, 3, 0.8);
$button-text: #51455c;
$button-text-hover: rgb(46, 39, 53);

$button-yellow: #e2d754;
$button-yellow-hover: rgb(172, 163, 64);
$button-shadow: rgba(111, 102, 3, 0.5);
$button-shadow-hover: rgba(111, 102, 3, 0.8);
$button-text: #51455c;
$button-text-hover: rgb(46, 39, 53);

.yellow-button {
  background: $button-yellow;
  border: 0;
  box-shadow: 0 12px 60px $button-shadow;
  color: $button-text;
  font-size: 1em;
  font-weight: 500;
  line-height: normal;
  padding: 12px 25px;
  text-align: center;

  &:hover {
    background: $button-yellow-hover;
    box-shadow: 0 12px 60px $button-shadow-hover;
    color: $button-text-hover;
  }
}
