@import '../../assets/default';

.yellow-button {
  background: $button-yellow;
  border: 0;
  box-shadow: 0 12px 60px $button-shadow;
  color: $button-text;
  font-size: 1em;
  font-weight: 500;
  line-height: normal;
  padding: 12px 25px;
  text-align: center;

  &:hover {
    background: $button-yellow-hover;
    box-shadow: 0 12px 60px $button-shadow-hover;
    color: $button-text-hover;
  }
}
