.yellow-button {
  background: #e2d754;
  border: 0;
  box-shadow: 0 12px 60px rgba(111, 102, 3, 0.5);
  color: #51455c;
  font-size: 1.23em;
  font-weight: 500;
  line-height: normal;
  padding: 12px 25px;
  text-align: center;
}

.yellow-button:hover {
  background: rgb(172, 163, 64);
  box-shadow: 0 12px 60px rgba(111, 102, 3, 0.8);
  color: rgb(46, 39, 53);
}
