.edit-delete-container {
  // border: 1px solid black;
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: space-around;

  .btnEdit,
  .btnDelete {
    width: 7rem;
    text-align: center;

  }
}
