@import '../../assets/default';

.yellow-button-login {
  width: $input-field-width;

  &:focus {
    outline: none;
  }
}

.container-extras {
  display: flex;
  font-size: 1em;
  justify-content: center;
  margin: 20px auto;

  & span {
    display: block;
    font-size: 1em;

    & .checkbox {
      height: 1em;
      margin-right: 0.5em;
      width: 1em;
    }

    & .link-to-another-page {
      color: $yellow;
      font-size: 1em;
      text-decoration: none;

      &:hover {
        color: $white;
      }
    }
  }
}

.container-social-login {
  margin-bottom: 1rem;
  margin-top: 1.5rem;

  .info {
    display: block;
    font-size: 0.9rem;
    font-style: $font-family-body;
    margin-bottom: 1rem;
  }

  .social-media-icons {
    background-color: $white;
    border: 1px solid $white;
    border-radius: 50%;
    margin: 0 0.2rem;
  }

}

.container-directing-to-signup {
  margin: 2em 0 0;

  & span {
    display: block;
    font-size: 0.8em;
    font-style: italic;
    letter-spacing: 0.1em;

    & .link-to-another-page {
      color: $yellow;
      font-size: 1em;
      margin: 0 0.5em;
      text-decoration: none;
    }
  }
}
