body {
  background-attachment: fixed;
  background-image: url('https://res.cloudinary.com/jessam/image/upload/v1554725326/tachina-lee-42980-unsplash_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
