$white: #fff;
$cream: #ccc;
$dark-col: #555;
$black: #000;

.form {
  margin: 0 auto;
  margin-bottom: 2%;
  margin-top: 8px;
  transition: opacity 1s;
}

.form-field {
  padding: 6% 4%;
  text-align: center;
}

.form-title {
  background: $white;
  border: 1px solid $cream;
  box-sizing: border-box;
  color: $dark-col;
  font-size: 1rem;
  margin-bottom: 4%;
  outline: none;
  padding: 1rem;
  width: 70%;
}

.form-description {
  background: $white;
  border: 1px solid $cream;
  box-sizing: border-box;
  color: $black;
  font-size: 1rem;
  margin-bottom: 4%;
  outline: none;
  padding: 1rem;
  width: 70%;
}

.form-file {
  background: $white;
  border: 1px solid $cream;
  box-sizing: border-box;
  color: $black;
  font-size: 1rem;
  height: 100px;
  margin-bottom: 4%;
  outline: none;
  padding: 1rem;
  text-align: center;
  width: 70%;
}

.form-body {
  background: $white;
  color: $black;
  font-size: 1rem;
  height: 15rem;
  margin: auto;
  margin-bottom: 4%;
  outline: none;
  padding: 1rem;
  width: 72.7%;
}

.center-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.header-img {
  height: 400px;
  width: 700px;
}

.upload-btn-wrapper {
  background: transparent;
  border: 1px solid $cream;
  box-sizing: border-box;
  color: $black;
  display: inline-block;
  font-size: 1rem;
  height: 10rem;
  margin-bottom: 4%;
  outline: none;
  overflow: hidden;
  padding: 1rem;
  position: relative;
  text-align: center;
  width: 70%;
  position: relative;
}

.btn-upload-img {
  background-color: $white;
  border: 2px solid $dark-col;
  border-radius: 8px;
  color: $dark-col;
  font-size: 20px;
  font-weight: bold;
  padding: 8px 20px;
  position: absolute;
  top: 20%;
  left: 45%;
}


.upload-btn-wrapper input[type='file'] {// sass-lint:disable-line force-element-nesting force-attribute-nesting no-qualifying-elements
  font-size: 100px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
}

.img-placeholder {
  border: 2px solid black;
  display: block;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}