@import '../../assets/default';

.profile-image {
  border-radius: 50%;
  height: 8rem;
  vertical-align: middle;
  width: 8rem;
}

#image-form {

  .avatar-btn {
    background-color: $yellow-color;
    border: 0;
    border-color: $yellow-color;
    border-radius: 0;
    color: $black-color;
    margin-top: 1.25rem;
    outline-style: none;
  }
}

.profile-container {
  margin-top: 3.75rem;
}
