.container {
  width: 100%;
  overflow: hidden;
  color: #ffffff;
  background-image: linear-gradient(to right, rgba(60, 16, 83, 0.7), rgba(173,83, 137,0.7)),
  url('../../assets/images/wall.jpg');
  padding-bottom: 5%;
  text-align: center;
}

.button {
 text-align: center;
}
