.white-link, .navbar-brand {
  color: #fff;
  font-size: 1.2em;
  margin-right: 20px;
  padding-left: 0;
}

.purple-link, .navbar-brand {
  color: #8932b4;
  font-size: 1.2em;
  margin-right: 20px;
  padding-left: 0;
}

.img-icon {
  cursor: pointer;
  padding: .3rem;
}

a.purple-link:hover {
  color: #ccc;
  text-decoration: none;
}

a.white-link:hover {
  color: #ccc;
  text-decoration: none;
}
