$white: #fff;
$purple-link: #8932b4;
$color-ccc: #ccc;

.white-link,
.navbar-brand {
  color: $white;
  font-size: 1.2rem;
  margin-right: 20px;
  padding-left: 0;
}

.purple-link,
.navbar-brand {
  color: $purple-link;
  font-size: 1.2rem;
  margin-right: 20px;
  padding-left: 0;
}

a {
  .purple-link {
    &:hover {
      color: $color-ccc;
      text-decoration: none;
    }
}

  .white-link {
    &:hover {
      color: $color-ccc;
      text-decoration: none;
    }
  }
}

.img-icon {
  cursor: pointer;
  padding: 0.3rem;
}