@import '../../assets/default.scss';

footer {
  background: $white-color;
  bottom: 0;
  display: block;
  height: 3.125rem;
  margin-top: 5rem;
  position: relative;
  width: 100%;
}

.footer {
  color: $text-color;
  font-weight: 600;
  padding-top: 0.875rem;
  text-align: center;
  width: inherit;
}
