@import '../../assets/default.scss';

footer {
  background: $white-color;
  margin-top: 5rem;
}

.footer {
  color: $text-color;
  font-weight: 600;
  padding-top: 0.875rem;
  text-align: center;
  width: inherit;
}
